# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

.settings/

# lock

*.lock

# Executables
*.swf
*.air
*.ipa
*.apk

public/

_gen/

/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

hugo.exe
hugo.darwin
hugo.linux

/.hugo_build.lock
