*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: monospace;
}

body{
    background-color: #000033;
}

.container{
    margin: 5vh auto;
    width: min(520px,95%);
    background-color: white;
    padding: 2vh;
}

hr{
    display: none;
}

h1,h2,h3,h4,h5{
    text-align: center;
    margin-bottom: 3vh;
}

h1{
    font-size: 1.7em;
    text-transform: uppercase;
}

h2{
    font-size: 1.4em;
}
.iframe{
    width:100%;
    display:flex;
    justify-content:center;
 }

 .contato{
    border: 1px solid black;
    padding:3vh;
}

ul{
    list-style-type: none;
    list-style-position:outside;
}
li{
    list-style-position: outside;
    margin: 2vh 0;
}

footer div{
    margin-bottom: 7vh;
}

.post-conteudo{
    margin: 3vh 0;
    
}

.post-conteudo p{
    margin: 2vh 0;
    font-size: 1.4em;
}



.post-conteudo img{
    max-width:100%;
    display: block;
    margin: 1vh auto;
 }

 .center-image{
    max-width:100%;
    display: block;
    margin: 1vh auto;
 }

 section.next-prev{
    border-top: 1px solid black;
    margin-top: 2vh;
    padding-top: 1vh;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
 }

 dl{
    padding:1vh;
 }
 dt{
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1vh;
 }
 dd{
    margin-left: 1vh;
 }

 pre,code{
    max-width:100%;
    display:block;
 }
 pre{
    overflow-y: auto;
 }
.choose-language{
    text-align: center;
}
 .choose-language ul li{
    font-size: 1.4em;
    padding: 1vh;
 }