{{ define "main" }}
        <main class="container">
            {{ if eq .Title "Academics" }}
                <h2>{{ T "academic" 1 }}</h2>
            {{ else }}
            <h2>{{ .Title }}</h2>
            {{ end }}
            <ul>
    {{ range .Data.Pages }}
                <li>
                    {{ with .Params.platform}} [{{ . }}] {{ end }} <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>     
    {{ end }}
            </ul>
        </main>
        <hr>

{{ end }}
